<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div id="container">
    
        <div class="button-main">
        	<div class="button-inside">
            	<h1>A</h1>
            </div>
        </div>
        
        
        <div class="button-main">
        	<div class="button-inside">
            	<h1>B</h1>
            </div>
        </div>
        
        <div class="button-main">
        	<div class="button-inside">
            	<h1>C</h1>
            </div>
        </div>
        
	</div>
</body>
</html>